# Python
__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info

# Virtual environment
.venv/

# Environment variables
.env
.env.*

# Promptfoo
promptfoo_shim.py
promptfooconfig.yaml
promptfoo-results.json
